body {
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.flex-between {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1rem;
}

nav {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.h-screen {
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}
